.listBox{
    text-align: start;
    padding: 10px;
    padding-bottom: 0px;
}

.linkBox{
    margin: 18px;
    background-color: #80808020;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;

    a{
        text-decoration: none;
        color: chocolate;
        font-weight: bolder;
        

    }
}

.colorixer{
    color: chocolate;
}